{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deletando {{ object.nome }}</title>
</head>
<body>
  {% block content %}
    <h1 class="mt-5">{{ object.nome }} Deletar</h1>
    <form class="d-inline" method="post">{% csrf_token %}
        <p>Tem certeza que quer deletar "{{ object }}"?</p>
        <input class="btn btn-primary" type="submit" value="Deletar" />
    </form>
    <button class="btn btn-primary" onclick="location.href='/sorveteria/{{ Entity }}'">Voltar</button>
  {% endblock %}
</body>
</html>