{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ object.nome }} Detalhes</title>
</head>
<body>
  {% block content %}
    <h1>Detalhes de {{ object.nome }}</h1>
    {% for field, value in object.items %}
      <ul>
        <li>{{ field }}: {{ value }}</li>
      </ul>
    {% endfor %}
    <button onclick="location.href='/agenda/{{ Model }}/editar/{{object.id}}'">Editar</button>
    <button onclick="location.href='/agenda/{{ Model }}/deletar/{{object.id}}'">Deletar</button>
    <button onclick="location.href='/agenda/{{ Model }}'">Voltar</button>
  {% endblock %}
</body>
</html>