{% extends 'index.html' %}

{% block content %}
  <h1 class="mb-3 mt-3">Lista de {{ Model | capfirst }}</h1>
  {% for instance in objects %}
    <ul class="list-group">
      <li class="list-group-item mt-3 mb-3"><a href="{{ Model }}/detalhes/{{ instance.id }}">{{ instance.nome }}</a></li>
    </ul>
  {% endfor %}

  <button class="btn btn-primary" onclick="location.href='{{ Model }}/adicionar'">Adicionar</button>
  <button class="btn btn-primary" onclick="location.href='/agenda'">Voltar</button>
{% endblock %}
